div#choose-username(style="display: none")
  input(type="submit" id="username-button" value="Choose a username")
  input(type="text" id="username-chosen" size=42 autofocus)

div#send-message(style="display: none")
  input(type="submit" id="mesg-button" value="Say")
  input(type="text" id="mesg-send" size=42 autofocus)
  //- textarea(id="mesg-send" cols=42 rows=4 autofocus)
  img(src="/assets/updown-arrow.png" id="message-sort-order" title="Switch message order")
  img(src="/assets/unmute.png" id="message-mute" title="Mute and unmute incoming message notification")

div#mesg-recv

audio#mesg-fx(style="display: none")
